CX Agent with RAG_pinecone_fixed_v2.json
{
  "name": "CX Agent with RAG",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        48
      ],
      "id": "b837c6e3-d806-44c6-9c5c-3abe570c13fe",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful customer care assistant. Answer questions from the user using the course brochure retrieval tool available to you. Base your answers strictly on the information returned by that tool, and let the user know if the information is not found in the retrieved brochures."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        240
      ],
      "id": "1fc89da4-04e5-4d79-b295-399ef0f8a39a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FmUDPLl4dTFuWtxHnYcbERUonMGnEpVu",
          "mode": "list",
          "cachedResultName": "brochures",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FmUDPLl4dTFuWtxHnYcbERUonMGnEpVu"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -176
      ],
      "id": "346eeecf-c7cd-4cb0-aa3d-9dc4b93deb37",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OHE8YRimhxtU2Ins",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8c0c6a15-3665-41f0-bb60-f94e11fac572",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        240
      ],
      "id": "ad024631-8961-474b-a6fe-a06b5c6c9929",
      "name": "Webhook",
      "webhookId": "8c0c6a15-3665-41f0-bb60-f94e11fac572"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { output: $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        240
      ],
      "id": "0f786779-33bd-4890-bc4f-c945ce36647d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "course-brouchures",
          "mode": "list",
          "cachedResultName": "course-brouchures"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -16,
        -176
      ],
      "id": "6224482a-9cd3-4662-b8cb-0594550e819a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "s316h0ecMPhD5BnR",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve brochures for RAG",
        "pineconeIndex": {
          "__rl": true,
          "value": "course-brouchures",
          "mode": "list",
          "cachedResultName": "course-brouchures"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -32,
        448
      ],
      "id": "e351039b-57db-46fd-b3c7-fc9d3dae21c8",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "s316h0ecMPhD5BnR",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -240,
        448
      ],
      "id": "f178305d-01a2-4d58-8e81-8756228aaf89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LDcKANmkk1cHb7wk",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        576
      ],
      "id": "a29d5ba1-9933-417b-8951-ab1870718626",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "LDcKANmkk1cHb7wk",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        -176
      ],
      "id": "5882a917-99f5-4900-9df5-7fe42ec462e7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OHE8YRimhxtU2Ins",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        48
      ],
      "id": "92539976-1cdf-42c1-9187-caa8c0c8d231",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "LDcKANmkk1cHb7wk",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6498396d-d494-46b6-a432-47c42964a9b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c3648e0683bbc96139b88c1269bb2a86db9243997080689c7c0238535d578b7"
  },
  "nodeGroups": [],
  "id": "eeK9cxt5bQxDqBor",
  "tags": []
}
